header{ background-color: rgb(191, 225, 231); height: 50px;}
h1{text-align: center; 
    ;
}
h1{font-family: 'Courier New', Courier, monospace;src: calc(5px) ;
font-display: fallback;}
h3{ font-size: x-large;
    color: rgb(17, 13, 13);font-family: 'Courier New', Courier, monospace;src: calc(5px) ;
    font-display: fallback;




}
main{
background-color: aliceblue; height: 100%;}